
.editor-wrapper {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.editor-wrapper * {
    box-sizing: border-box;
}

.editor-wrapper button {
    padding: 5px;
}

.editor-wrapper .top-bar {
    width: 100%;
    min-height: 0;
    max-height: 60px;
    height: 0;
    padding: 10px;
    border-bottom: none!important;
}

.editor-wrapper .top-bar:first-child {
    display: inline;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.editor-wrapper .tab-view {
    display: flex;
    flex-direction: column;
}

.editor-wrapper .tab-view:first-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.editor-wrapper .tab-bar {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-top: none!important;
}

.editor-wrapper .tab {
    height: 100%;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    border-bottom: none!important;
    user-select: none;
}

.editor-wrapper .tab-space {
    flex-grow: 1;
    border: none!important;
}

.editor-wrapper .tab-panel {
    flex-grow: 1;
    overflow-y: auto;
}

.editor-wrapper :is(.editor, .settings-wrapper) {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.editor-wrapper .settings-wrapper {
    padding: 10px;
}

.editor-wrapper .settings-title, .setting-name {
    color: #ffffff;
    font-weight: "bold";
}

.editor-wrapper .settings-title {
    font-size: 24px;
}

.editor-wrapper .settings-wrapper div > input[type=checkbox] {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.editor-wrapper input[type=checkbox] {
    appearance: none;
    height: 14px;
    width: 14px;
    user-select: none;
}

.editor-wrapper input[type=checkbox]:checked {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 16 16'><line x1='2' y1='9' x2='6' y2='13' stroke='white' /><line x1='6' y1='13' x2='14' y2='3' stroke='white' /></svg>");
}
